<div class="back">
    <div class="login">
       <div class="card">
          <mat-card>
             <mat-tab-group>
                <mat-tab>
                   <ng-template mat-tab-label>
                      <!-- use room icon or map icon-->
                      <mat-icon class="example-tab-icon">login</mat-icon>
                      Sign In
                   </ng-template>
                   <mat-form-field appearance="fill" style="width:60%">
                      <mat-label >User Name</mat-label>
                      <mat-icon matSuffix>account_circle</mat-icon>
                      <input matInput  #user>
                   </mat-form-field>
                   <mat-form-field appearance="fill" style="width:60%">
                      <mat-label  >Password</mat-label>
                      <input matInput [type]="hide ? 'password' : 'text'" placeholder="Password" #pass>
                      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                      </button>
                   </mat-form-field>
                   <br>
                   <button mat-raised-button color="accent" (click)='login(user.value,pass.value)' routerLink="/{{logi}}">LOGIN</button>
                </mat-tab>
                <mat-tab>
                   <ng-template mat-tab-label>
                      <!-- use room icon or map icon-->
                      <mat-icon class="example-tab-icon">book</mat-icon>
                      Register
                   </ng-template>
                   <mat-form-field appearance="fill" style="width:60%">
                      <mat-label >User Name</mat-label>
                      <mat-icon matSuffix>account_circle</mat-icon>
                      <input matInput >
                   </mat-form-field>
                   <mat-form-field appearance="fill" style="width:60%">
                      <mat-label  > Enter A New Password</mat-label>
                      <input matInput [type]="hide ? 'password' : 'text'" placeholder="Password" #pass>
                      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                      </button>
                   </mat-form-field>
                   <mat-form-field appearance="fill" style="width:60%">
                      <mat-label  > Conform Your Password</mat-label>
                      <input matInput [type]="hide ? 'password' : 'text'" placeholder="Password" #pass>
                      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                      </button>
                   </mat-form-field>
                   <mat-form-field appearance="fill" style="width:60%">
                      <mat-label >Phone Number</mat-label>
                      <mat-icon matSuffix>phone</mat-icon>
                      <input matInput >
                   </mat-form-field>
                   <mat-form-field appearance="fill" style="width:60%">
                      <mat-label >E-Mail Address</mat-label>
                      <mat-icon matSuffix>email</mat-icon>
                      <input matInput >
                   </mat-form-field>
                   <br>
                   <button mat-raised-button color="warn">Register</button>
                </mat-tab>
             </mat-tab-group>
          </mat-card>
       </div>
    </div>
 </div>