.card{
    max-width: 345px;
    min-height:425px;
    margin-top: 50px;
    margin-left: 85px;
    cursor: pointer;
    transition: 0.5s ease;
}
.card:hover {
    transform: scale(1.05);
    box-shadow: 5px 5px 10px #706b6b;
}
.example-spacer {
    flex: 1 1 auto;
  }
  .c{
    background-image: radial-gradient( circle 590px at 8.2% 13.8%,  rgba(18,35,60,1) 0%, #bbb 90% );
    /* opacity: .7; */
  }